<!DOCTYPE html>
<html lang="pt-BR">
    <!-- head -->
    <head>
    {% block head %}
        <!-- meta -->
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <meta content="no-cache, no-store, must-revalidate"/>
        <!-- _meta -->
        <!-- style -->
        <link href="{{ url_for('static', filename='vendor/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/style.css') }}?{{unixtime}}" rel="stylesheet">
        <link href="{{ url_for('static', filename='img/ufabc.ico') }}" rel="shortcut icon">
        <!-- _style -->
        <!-- scripts -->
        <script src="{{ url_for('static', filename='vendor/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/code-prettify/src/run_prettify.js') }}"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}?{{unixtime}}" type="text/javascript"></script>
        <!-- _scripts -->
        <title>
        {% block title %}
            ufabc-helper
            {% block subtitle %}{% endblock %}
        {% endblock %}
        </title>
    {% endblock %}
    </head>
    <!-- _head -->
    <!-- body -->
    <body>
    {% block body %}
        <!-- container-fluid -->
        <div class="container-fluid">
        {% block container %}
            {% block navbar %}
                {% include 'navbar.html' %}
            {% endblock %}
            {% block container_main %}
            {% endblock %}
            {% block footer %}
            {% endblock %}
        {% endblock %}
        </div>
        <!-- _container-fluid -->
    {% endblock %}
    </body>
    <!-- _body -->
</html>